* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Miriam Libre", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #f5f6fa;
}

.main-holder {
  background-color: #fff;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 10px;
  /* padding: 20px 20px; */
}

.app-title {
  color: #777;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-shadow:
          1px 0px 1px #ccc, 0px 1px 1px #eee,
          2px 1px 1px #ccc, 1px 2px 1px #eee,
          3px 2px 1px #ccc, 2px 3px 1px #eee,
          4px 3px 1px #ccc, 3px 4px 1px #eee,
          5px 4px 1px #ccc, 4px 5px 1px #eee,
          6px 5px 1px #ccc, 5px 6px 1px #eee,
          7px 6px 1px #ccc;
}
.calandar-wrapper{
  text-align: center;
  margin-bottom: 30px;
}
.calandar-container {
  /*background-color: bisque;*/

  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: inline-block;


}

.events-container {
  padding: 35px 30px;
  background-color: #f5f6fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.event-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.events-container__header {
  margin-bottom: 30px;
}

.date {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: #17a2b8 solid 10px;
  text-align: center;
}

.my-auto {
  padding: 3% 0;
}

.form-container {
  padding: 25px 30px;
  background-color: #f5f6fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

h2 {
  font-size: 1.5rem;
}

.del-btn button {
  display: block;
  color: rgb(255, 255, 255);
  background: rgb(230, 87, 87);
  margin: 5px;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  
}

.del-btn button:hover {
  text-decoration: none;
  color: rgb(230, 87, 87);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(230, 87, 87);
}

.edit-btn button {
    display: block;
    color: rgb(255, 255, 255);
    background: #2ecc71;
    margin: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    
  }
  
  .edit-btn button:hover {
    text-decoration: none;
    color:#2ecc71;
    background: #ffffff;
    border: 1px solid #2ecc71;
  }

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  overflow: visible; /* Edge hides overflow */
  text-transform: none; /* Firefox inherits text-transform */
  -webkit-appearance: button; /* Safari otherwise prevents some styles */
}

.alert-heading{
  font-weight: 600;
  font-size: 2rem;
}

.custom-btn{
  -webkit-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.58);
  -moz-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.58);
  box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.58);
}

.card-text-title{
  font-size: 2rem;
  font-weight: bold;
}

.card-text-date{
  font-size: 1rem;
  margin-bottom: 3rem !important;

}

.close {
  position: absolute;
  top: 15px;
  right: 22px;
  margin-left: 50px;
  font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .del-btn button {

    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;

  }
  .edit-btn button {

    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
  }


}